.container {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background: #fff;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 22px;
  background: #ececec;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.heading {
  color: #152f40;
  font-size: 16px;
  font-weight: 600;
}

.editButton {
  color: #1447b6;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  font-weight: 600;
}

.editButton:hover {
  color: #1d4ed8;
}

.scrollable {
  overflow-x: visible;
}

.content {
  padding: 20px;
  min-width: auto;
}

.row {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}

.row:last-child {
  margin-bottom: 0;
}

.label {
  width: 150px;
  color: #6b7280;
  font-size: 14.5px;
  font-weight: 600;
  padding-right: 8px;
}

.value {
  color: #6b7280;
  font-size: 14px;
  flex: 1;
}

.value input {
  color: inherit;
}

.input,
.colorInput {
  width: 90%;
  padding: 6px 8px;
  border: 1px solid #d1d5db;
  font-size: 16px;
  border-top: none;
  border-left: none;
  border-right: none;

  &:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
  }
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 0;
}

.logoContainer > img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.pdfButton,
.uploadButton {
  padding: 9px 20px;
  width: 100%;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid #e5e7eb;
  color: #6b7280;
  cursor: pointer;
  transition: box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #f3f4f6;
    border-color: #d1d5db;
    box-shadow: 0 0 15px rgba(255, 255, 255, 1),
      0 0 15px rgba(255, 255, 255, 0.8);
  }
}

.uploadButton {
  margin-top: 10px;
}
.colorPickerContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
}

.colorPreview {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #ddd;
  cursor: pointer;
}

.colorPickerPopover {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  z-index: 100;
}

.colorPickerCover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.colorDisplay {
  display: flex;
  align-items: center;
  gap: 12px;

  span {
    font-family: monospace;
  }
}

@media (max-width: 460px) {
  .row {
    flex-direction: column;
    gap: 8px;
  }

  .label {
    width: 100%;
    padding-right: 0;
  }

  .value {
    width: 100%;
  }

  .content {
    padding: 16px;
  }
}
