.searchleads-container {
  font-family: Arial, sans-serif;
  border-radius: 8px;
  width: 95%;
  display: flex;
  justify-content: center;
}

.sub-container{
  display: flex;
  gap: 20px;
  width: 100%;
}

.sub-container > div:first-child {
  flex: 0 0 30%; /* First div takes 30% width */
}

.sub-container > div:last-child {
  flex: 0 0 70%; /* Second div takes 70% width */
}