.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container {
    display: flex;
    width: 100%;
    gap: 20px;

    @media (max-width: 1168px) {
        flex-direction: column;
        gap: 16px;
    }
}

.cardContainer {
    display: flex; /* Enables flexbox layout */
    flex-wrap: wrap; /* Allows wrapping of items to the next row */
    gap: 16px; /* Space between cards */
    padding: 16px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    border-radius: 6px;
    justify-content: space-between; /* Adjusts spacing between items on larger screens */
}
.leftComponent {
    flex: 0 0 65%;
    padding: 8px 0;

    @media (max-width: 768px) {
        flex: 1;
    }

    /* Add spacing between components inside leftComponent */
    & > :not(:last-child) {
        margin-bottom: 16px;
    }
}

.rightComponent {
    flex: 0 0 35%;
    padding: 8px 0;

    @media (max-width: 768px) {
        flex: 1;
    }
}

.DynamicNavigator {
    padding: 16px;
    border-bottom: 1px solid #ccc;

    @media (max-width: 768px) {
        padding: 12px;
    }
}
