.leads-container {
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  border-radius: 15px;
  width: 95%;
  margin: 12px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  height: 553px;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.tab {
  padding: 10px 30px;
  cursor: pointer;
  background-color: white;
  text-align:left;
  border: none;
  font-size: 14px;
  transition: background-color 0.3s, border-bottom 0.3s;
  position: relative;
}

.tab.active {
  background-color: #fff;
  font-weight: bold;
}

.tab.active::after {
  content: "";
  display: block;
  width: 65%;  /* Makes the border as wide as the text */
  height: 3px;
  background-color: #0358ac; 
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%); /* Centers the border under the text */
}

.tab:hover {
  color: #0358ac;
}

.content {
  padding: 5px;
}

.content p {
  margin-bottom: 10px;
  color: #626262;
  margin-left: 30px;
}

textarea {
  width: 90%;
  height: 198px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: auto;
  border: 1px solid #dbdbdbd5;
  border-radius: 10px;
  font-size: 14px;
  resize: none;
  background-color: #f0efef;
}

/* Responsive styling */
@media (max-width: 768px) {
  .leads-container {
    width: 90%;
  }

  .tab {
    font-size: 12px;
    padding: 8px 10px;
  }

  textarea {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .tab {
    font-size: 11px;
    padding: 6px 8px;
  }

  textarea {
    width: 100%;
  }
}
