.leads-container {
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  border-radius: 15px;
  width: 95%;
  margin: 12px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  height: 553px;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.tab {
  flex: 1;
  padding: 10px 15px;
  cursor: pointer;
  background-color: white;
  text-align: center;
  border: none;
  border-bottom: 2px solid transparent;
  font-size: 14px;
  transition: background-color 0.3s, border-bottom 0.3s;
}

.tab.active {
  background-color: #fff;
  border-bottom: 2px solid #007bff;
  font-weight: bold;
}

.tab:hover {
  color: #007bff;
}

.content {
  padding: 20px;
}

.content p {
  margin-bottom: 10px;
  color: #626262;
  margin-left: 20px;
}

textarea {
  width: 95%;
  height: 198px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: auto;
  border: 2px solid #dbdbdbd5;
  border-radius: 10px;
  font-size: 14px;
  resize: none;
  background-color: #DBDBDB;
}

/* Responsive styling */
@media (max-width: 768px) {
  .leads-container {
    width: 90%;
  }

  .tab {
    font-size: 12px;
    padding: 8px 10px;
  }

  textarea {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .tab {
    font-size: 11px;
    padding: 6px 8px;
  }

  textarea {
    width: 100%;
  }
}
