.tableContainer {
  width: 100%;
  overflow: auto; /* Allows scrolling */
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;

  /* Custom scrollbar styles */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #d1d5db #f9fafb;

  /* For WebKit-based browsers */
  &::-webkit-scrollbar {
    height: 8px; /* Horizontal scrollbar height */
    width: 8px; /* Vertical scrollbar width */
  }

  &::-webkit-scrollbar-track {
    background: #f9fafb; /* Track color */
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #d1d5db; /* Thumb color */
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #9ca3af;
  }
}

.tableWrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table {
  min-width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.tableHead {
  background-color: #f9fafb;
}

.tableHeader {
  padding: 1.5rem;
  text-align: left;
  font-size: 1.09rem;
  font-weight: 600;
  color: #181c3299;
  border-bottom: 1px solid #e5e7eb;
  white-space: nowrap;
  letter-spacing: 0.025em;
}

.tableCell {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  // font-weight: 500;
  color: #152f40;
  border-bottom: 1px solid #e5e7eb;
  white-space: nowrap;
}

.tableRow:last-child {
  .tableCell {
    border-bottom: none;
  }
}

.clickableCell {
  cursor: pointer;
  color: #2563eb;
  text-decoration: underline;

  &:hover {
    color: #1d4ed8;
  }
}

.noDataCell {
  text-align: center;
  color: #6b7280;
  padding: 1rem 1.5rem;
}

@media (max-width: 640px) {
  .tableHeader,
  .tableCell {
    padding: 1.5rem;
  }
}
