.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: start;

  @media (min-width: 1280px) {
    flex: 1 1 calc(25% - 2%);
    gap: 20px;
  }
  @media (max-width: 1049px) and (min-width: 790px) {
    flex: 1 1 calc(33.33% - 2%);
    gap: 20px;
  }

  @media (max-width: 870px) and (min-width: 525px) {
    flex: 1 1 calc(50% - 2%);
    gap: 20px;
    justify-content: center;
  }

  @media (max-width: 560px) {
    flex: 1 1 100%;

    gap: 20px;
    justify-content: center;
  }
}
