.topContainer {
    padding: 20px;
    display: flex;
    gap: 2%;
    justify-content: flex-end;
  
    >p {
      color: #272D37;
      font-size: 14px;
    }
  
>button {
      background-color: #0358AC;
      cursor: pointer;
      width: 10%;
      padding: 16px;
      min-width: 120px;
      color: white;
      justify-content: center;
      border: none;
      display: flex;
      border-radius: 6px;
  
      &:hover {
        opacity: 0.9;
      }
    }
  }

  .cardsContainer{

    background-color: transparent;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    gap: 8px;
  padding: 20px;
  border: 1px solid #ECECEC;
  }
  
  .TableSection{
    margin-top: 10px ;
    background-color: transparent;
    justify-content: center;
    border-radius: 6px;
    gap: 8px;
    height: 340px;
  padding: 20px;
  max-height: fit-content;
  border: 1px solid #ECECEC;
    .TopUserContainer{  
      width: 100%;
      justify-content: center;
      gap: 25px;
      display: flex;
      max-height: 95%;
      
    }

  }
  .GraphContainer {
    width: 98%;
    background-color: transparent;
    display: flex;
    justify-content: start;
    border-radius: 6px;
    gap: 20px;
    padding: 20px;
  }
  
  @media screen and (max-width: 780px) {
    .TableSection {
      flex-direction: column;
      align-items: center; /* Optional: center the cards if desired */
    }
  }
  @media screen and (max-width: 780px) {
    .TopUserContainer {
      padding-top: 10px;
      flex-direction: column;
      align-items: center; /* Optional: center the cards if desired */
    }
  }
  