.table-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 16px; /* Consistent padding */
}

.url-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.url-table th,
.url-table td {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  background-color: transparent;
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0px;
}

.url-table th {
  background-color: #f9fafb;
  padding: 17px 20px;
  font-weight: 400;
  color: #858585;
}

.url-table th:nth-child(2),
.url-table td:nth-child(2) {
  width: 40%; /* Makes the URL column wider */
}

.delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 3px solid red;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.delete-btn svg {
  width: 16px;
  height: 16px;
  color: red;
}

.url-row:hover {
  background-color: #f0f0f0;
}

.links-to-track {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-url-section {
  margin-top: -4px;
}

.add-url,
.show-url-table {
  flex: 1;
  margin-left: 10px;
  width: calc(100% - 20px);
  border-radius: 4px;
  padding: 0;
}

.button-container {
  margin-top: 20px;
}

.url-field {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.url-input {
  width: 90%;
  flex: 1;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  color: #333;
  margin-right: 10px;
}

.url-input::placeholder {
  color: #999;
}

.url-input:focus {
  outline: none;
  border-bottom-color: #032E61;
}

.add-btn,
.save-btn {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #ecb9401a;
  border: none;
  border-radius: 5px;
  color: #333;
  white-space: nowrap;
}

.add-btn:hover,
.save-btn:hover {
  background-color: #4d75a7;
  color: #fff;
}

.show-url-table {
  max-height: 286px;
  width: min(70%, 100%); /* Adaptive width */
  overflow-y: auto;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Optimized Media Query */
@media (max-width: 768px) {
  .links-to-track {
    flex-direction: column;
  }

  .url-table {
    display: block;
    overflow-x: auto;
  }

  .url-field {
    flex-direction: row;
    justify-content: space-between;
  }

  .add-url,
  .show-url-table {
    width: min(100%, 70%);
    margin-left: 0;
  }
}
