.table-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 16px; /* Ensure consistent padding within the parent */
}

.url-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow-x: auto; /* Add horizontal scroll for smaller screens */
}

.url-table th,
.url-table td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.url-table th {
  background-color: #f4f4f4;
}

.url-row:nth-child(even) {
  background-color: #f9f9f9;
}

.url-row:hover {
  background-color: #f0f0f0;
}

.links-to-track {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-url-section {
  margin-top: -4px;
}

.add-url,
.show-url-table {
  flex: 1;
  margin-left: 10px;
  width: calc(100% - 20px); /* Ensure consistent width without overlapping */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.button-container {
  margin-top: 20px;
}

.url-field {
  margin-bottom: 10px;
  display: flex;
  align-items: center; /* Align the input field and button in the same line */
}

.url-input {
  width: 90%;
  flex: 1;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  color: #333;
  margin-right: 10px; /* Add spacing between input and button */
}

.url-input::placeholder {
  color: #999;
}

.url-input:focus {
  outline: none;
  border-bottom-color: #032E61;
}

.add-btn,
.save-btn {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #ecb9401a;
  border: none;
  border-radius: 5px;
  color: #333;
  white-space: nowrap; /* Prevent button text wrapping */
}

.add-btn:hover,
.save-btn:hover {
  background-color: #4d75a7;
  color: #fff; /* Change text color on hover for better contrast */
}

.show-url-table {
  max-height: 286px;
  width: 95%;
  overflow-y: auto;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .links-to-track {
    flex-direction: column;
  }

  .url-table {
    display: block;
    overflow-x: auto; /* Horizontal scroll for reduced screen sizes */
  }

  .url-field {
    flex-direction: row;
    justify-content: space-between;
  }

  .add-url,
  .show-url-table {
    width: 100%;
    margin-left: 0;
    padding: 16px;
  }
}
